<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="d-block d-xl-none">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Agenda V1.0</h1>
    <span class="menu-spacer"></span>
    <div class="d-none d-xl-block">
      <a mat-button [routerLink]="['/sedes']"> Sedes </a>
      <a mat-button [routerLink]="['/roles']">Roles</a>
      <a mat-button [routerLink]="['/estadoscita']"> Estado de Cita </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button (click)="logout()"> Salir ({{ obtenerUserName() }} ) </a>
      <a mat-button [routerLink]="'/login'" *ngIf="logeado == false"> Iniciar Sesión </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item > {{ obtenerUserName() }} </a>
      <a mat-list-item [routerLink]="['/sedes']" (click)="sidenav.toggle()"> Sedes </a>
      <a mat-list-item [routerLink]="['/roles']" (click)="sidenav.toggle()"> Roles </a>
      <a mat-list-item [routerLink]="['/estadoscita']" (click)="sidenav.toggle()">Estados de cita </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item (click)="logout()"> Cerrar Sesión </a>
      <a mat-list-item [routerLink]="'/login'" *ngIf="logeado == false"> Iniciar Sesión </a>
      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;" class="container container-fluid bg-dark">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>