<h3>Sedes</h3>
<table class="table table-striped">
    <thead>
        <th>Nombre</th>
        <th>Estado</th>
    </thead>
    <tbody>
        <tr *ngFor="let sede of sedes">
            <td> {{sede.nombre}} </td>
            <td *ngIf="sede.estado == 0" class="text-danger"> BAJA </td>
            <td *ngIf="sede.estado == 1" class="text-info"> ALTA </td>
            <td>
                    <a [routerLink]="['/sedes', sede.sedeId]">
                        VER
                    </a>
            </td>
        </tr>
        
    </tbody>
</table>