<h2> Detalles de Sede</h2>
<table class="table">
    <tr>
        <td class="text-light">
            {{ sede.nombre }}
        </td>
        <td>
            <span class="text-info" *ngIf="sede.estado  == 1"> Activo </span>
            <span class="text-danger" *ngIf="sede.estado  == 0"> Inactivo </span>
        </td>
        <td>
            <mat-icon (click)="toggleModalEditar()" class="text-light">create</mat-icon>
        </td>
    </tr>

</table>
<button id="toggleModalEditarSede" data-toggle="modal" data-target="#editarSede" style="display: none;">editar</button>

<button type="button" (click)="editarSede()" style="display: none;" id="btnEditarSede">
    acutalizar
</button>
