<h2>Roles</h2>
<button id="btnModalCrear" class="btn btn-primary" data-toggle="modal" data-target="#crearRol">Crear Rol</button>

<table class="table table-striped  ">
  <thead>
    <th class="text-light">Nombre</th>
    <th class="text-light">Estado</th>
    <th class="text-light">VER</th>
  </thead>
  <tbody>
    <tr *ngFor="let rol of roles">
      <td class="text-info"> {{ rol.nombre }}</td>
      <td>
        <span class="text-info" *ngIf="rol.estado == 1"> Activo </span>
        <span class="text-danger" *ngIf="rol.estado == 0"> Inactivo </span>
      </td>
      <td>
          <a [routerLink]="['/roles',rol.rolId]">  <mat-icon>remove_red_eye</mat-icon> </a> 
      </td>
    </tr>
  </tbody>
</table>

<button id="btnCrearRol" type="button" (click)="crearRol();" style="display: none;">crear</button>

